/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    
    background: url('/img/bgtile.jpg') top left repeat;
    
    font-family: "Open Sans", Arial, sans-serif;

    /* Hide user selections, no user interaction in this project */
    /*user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    /* Font anti-aliasing */
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;

    /* Make animation rendering smoother */
    -webkit-backface-visibility: hidden;
}

/* Style scroll bar for elements differently. */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: auto;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    height: auto;
    background-color: rgba(102, 102, 102, 0.5);
    border: none;
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(102, 102, 102, 0.9);
}

/* Disable selection colours. */
::selection {
    background: rgba(0, 0, 0, 0);
}

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

/* Assign this class to something to disable any transition effects. */
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

h1 {
    font-size: 3em;
    background: transparent url('/img/logo.png') top center no-repeat;
    background-size: contain;
    border: none;
    width: 100%;
    height: 25%;
    text-align: center;
    padding: 0.4em 0em;
    text-indent: -9999px;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}

#slots {
    height: 25%;
    display: block;
    width: 100%;
    padding: 0em;
    margin: 0em;
    background: transparent url('/img/gradientfront.png') top left repeat-x;
    background-size: contain;
    opacity: 0.5;
}

#slots.active {
    opacity: 1;   
}

#slots ul {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

#slots.blur {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#slots ul li {
    width: 100%;
    height: 100%;
    display: block;
    padding: 3.8em 0em;
}

#slots ul li img.icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

#slots .wrapper {
    background-size: 45%;
    background-position: 50% 1.7em;
    background-repeat: no-repeat;
    background-color: transparent;   
}

#slots #mood-wrapper {
    background-image: url('/img/mood.png');  
}

#slots #genre-wrapper {
    background-image: url('/img/genre.png');
}

#slots #era-wrapper {
    background-image: url('/img/era.png');
}

#playlist {
    position: absolute;
    top: 50%;
    left: 300px;
    padding: 0;
    display: block;
    clear: both;
    width: calc(100% - 600px);
    background: transparent;
    list-style: none;
    margin: 0px;
    overflow: auto;
    height: 50%;
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

#spotify {
    position: absolute;
    right: 0px;
    top: 50%;
    background: transparent;
    height: 50%;
    width: 300px;
}

#youtube {
    position: absolute;
    left: 0px;
    top: 50%;
    background: transparent;
    height: 50%;
    width: 300px; 
}

#playlist .track {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0.8em; 
    color: #fff; 
}

/* Note: Use 3d transform as they are GPU accelerated.*/
@-webkit-keyframes 'pulsate' {
    0%   { opacity: 0; -webkit-transform: scale3d(0.1, 0.1, 0); }
    50%  { opacity: 1; }
    100% { opacity: 0; -webkit-transform: scale3d(1.2, 1.2, 0); }
}

.loading {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50px;
    background: #f00;
    -webkit-animation: 'pulsate' 0.5s ease-out 0 infinite;
    display: none;
}

.loading.active {
    display: block;
}

#loading-playlist {
    position: absolute;
    top: 75%;
    left: 50%;
}

#loading-spotify {
    position: absolute;
    top: 75%;
    right: 150px;
}

#loading-youtube {
    position: absolute;
    top: 75%;
    left: 150px;
}

.wrapper {
    height: 100%;
    width: 33.3333%;
    float: left;
    overflow: hidden;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 100%;
    display: block;
    width: 100%;
    background: transparent;
}

#error {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    line-height: 1.5;
    pointer-events: none;
}

#error p {
    position: absolute;
    background: rgba(255, 0, 0, 1);
    top: 40%;
    width: 100%;
    padding: 3em 0em;
}

#error.active {
    opacity: 1;
}
