/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    
    background: url('/img/bgtile.jpg') top left repeat;
    
    font-family: "Open Sans", Arial, sans-serif;

    /* Hide user selections, no user interaction in this project */
    /*user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    /* Font anti-aliasing */
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;

    /* Make animation rendering smoother */
    -webkit-backface-visibility: hidden;
}

/* Style scroll bar for elements differently. */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    height: auto;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
    height: auto;
    background-color: rgba(102, 102, 102, 0.5);
    border: none;
    -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(102, 102, 102, 0.9);
}

/* Disable selection colours. */
::selection {
    background: rgba(0, 0, 0, 0);
}

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }

/* Assign this class to something to disable any transition effects. */
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

h1 {
    font-size: 3em;
    background: transparent url('/img/logo.png') top center no-repeat;
    background-size: contain;
    border: none;
    width: 100%;
    height: 15%;
    text-align: center;
    padding: 0.4em 0em;
    text-indent: -9999px;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
}

#headers {
    height: 10%;
    width: 100%;
    display: block;
}

#headers div {
    width: 33.3333%;
    height: 100%; 
    float: left;
}

#headers div {
    border: 0.3em solid transparent;
    background-size: contain;
    background-position: 50% 0em;
    background-repeat: no-repeat;
    background-color: transparent;   
}

#headers #mood-header {
    background-image: url('/img/mood.png');  
}

#headers #genre-header {
    background-image: url('/img/genre.png');
}

#headers #era-header {
    background-image: url('/img/era.png');
}

body.jp #headers #mood-header {
    background-image: url('/img/mood_jp.png');  
}

body.jp #headers #genre-header {
    background-image: url('/img/genre_jp.png');
}

body.jp #headers #era-header {
    background-image: url('/img/era_jp.png');
}

#slots {
    height: 25%;
    display: block;
    width: 100%;
    padding: 0em;
    margin: 0em;
    background: transparent url('/img/gradientfront.png') top left repeat-x;
    background-size: contain;
    opacity: 0.5;
}

#slots.active {
    opacity: 1;   
}

#slots ul {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

#slots.blur {
   color: transparent;
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#slots.blur img {
   filter: blur(5px);
   -webkit-filter: blur(5px);
}

#slots ul li {
    width: 100%;
    height: 100%;
    display: block;
    padding: 1em 0em;
}

#slots ul li img.icon {
    width: auto;
    height: calc(100% - 1.5em);
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
}

#playlist {
    position: absolute;
    top: 50%;
    left: 300px;
    padding: 0;
    display: block;
    clear: both;
    width: calc(100% - 600px);
    background: transparent;
    list-style: none;
    margin: 0px;
    overflow: auto;
    height: calc(50% - 1.5em);
    font-size: 0.9em;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
}

#spotify {
    position: absolute;
    right: 0px;
    top: 50%;
    background: transparent;
    height: calc(50% - 1.4em);
    overflow: hidden;
    width: 300px;
}

#youtube {
    position: absolute;
    left: 0px;
    top: 50%;
    background: transparent;
    height: calc(50% - 1.4em);
    width: 300px; 
    overflow: hidden;
}

#playlist .track {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0.8em; 
    color: #fff; 
}

/* Note: Use 3d transform as they are GPU accelerated.*/
@-webkit-keyframes 'pulsate' {
    0%   { opacity: 0; -webkit-transform: scale3d(0.1, 0.1, 0); }
    50%  { opacity: 1; }
    100% { opacity: 0; -webkit-transform: scale3d(1.2, 1.2, 0); }
}

.loading {
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50px;
    background: #f00;
    -webkit-animation: 'pulsate' 0.5s ease-out 0 infinite;
    display: none;
}

.loading.active {
    display: block;
}

#loading-playlist {
    position: absolute;
    top: 75%;
    left: 50%;
}

#loading-spotify {
    position: absolute;
    top: 75%;
    right: 150px;
}

#loading-youtube {
    position: absolute;
    top: 75%;
    left: 150px;
}

.wrapper {
    height: 100%;
    width: 33.3333%;
    float: left;
    overflow: hidden;
}

.jSlots-wrapper {
    overflow: hidden;
    height: 100%;
    display: block;
    width: 100%;
    background: transparent;
}

#error {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    line-height: 1.5;
    pointer-events: none;
}

#error p {
    position: absolute;
    background: rgba(255, 0, 0, 1);
    top: 40%;
    width: 100%;
    padding: 3em 0em;
}

#error.active {
    opacity: 1;
}

#instructions {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding-top: 0.5em;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#instructions.done {
   opacity: 0;
}

#share {
   position: absolute;
   top: 0.5em;
   right: 0.5em; 
   width: 500px;
   height: 3em;
   opacity: 0; 
   transition: opacity 0.3s ease-in-out;
}

#share.active {
   opacity: 1;
}

/*
#share a#share-twitter {
   float: right;
   background: #4099ff;
   color: #fff;
   border-radius: 5px;
   padding: 0.5em;
   text-decoration: none; 
   transition: all 0.3s ease-in-out;
}

#share a#share-twitter:hover {
   background: #4072ab;
}*/

#share-twitter {
    text-align: center;
    float: right;
    border: 3px solid #55acee;
    border-radius: 50px;
    padding: 0.3em;
}

#share-twitter a {
    text-decoration: none;
    border: 2px solid #55acee;
    display: inline-block;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    line-height: 30px;
}

#share-twitter i {
    background-image: url("/img/twitter-share.gif");
    background-position: top left;
    height: 21px;
    width: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    margin: 0px 0px 0px 10px;
}

#share-twitter:hover i {
    background-position: bottom left;
}

#share-twitter span {
    font-weight: bold;
    display: block;
    color: #55acee;
    text-align: right;
    min-width: 40px;
    float: left;
    padding: 0px 10px;
    font-family: sans-serif;
    font-size: 18px;
}

#language {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    font-size: 0.9em;   
}

#language a {
    color: #000;
    text-decoration: none;   
}

footer {
    position: absolute;
    height: 1.3em;
    width: 100%;
    text-align: center;
    bottom: 0.2em;
    font-size: 0.8em;
    font-style: italic;
}
